body {
    display: flex;
}

.title {
    color: blue;
    font-weight: bold;
    font-size: 36px;
    margin-left: auto;
}

form {
    align-self: center;
    outline: dimgray;
}

table {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid black;
    border-spacing: 20px;
    box-shadow: 2px 2px 2px 2px grey;
}

table button {
    alignment: center;
    margin-right: auto;
    padding: 2px 2px 2px 2px;
}